[Desktop Entry]
Name=Fantasim-SDL
Exec=net.fantasim.Fantasim-SDL -url=%u
Icon=net.fantasim.Fantasim-SDL
Type=Application
Terminal=false
Categories=Game;
MimeType=x-scheme-handler/fantasim;