[Desktop Entry]
Name=Fantasim-SDL
Exec=/bin/fantasim-sdl -url=%u
Icon=/share/icons/hicolor/256x256/apps/net.fantasim.Fantasim-SDL.png
Type=Application
Terminal=false
Categories=Game;
MimeType=x-scheme-handler/fantasim;